<!DOCTYPE html>
<html>
<head>
<title>Khamikazy lectron'cs</title>
<link href="../static/new.css" rel="stylesheet" type="text/css">

</head>

<body>
<h1>Welcome to KL</h1>
<p>I have got it all sorted out (>_'). So now! let's do something impressive: </p><hr/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<p><div class="maindiv">

</div>
</p>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<p>Welcome to the Khamikazy lectrodes academy <br/> We hope you enjoy our fixtures lately withe the skill and technical excellence demonstrated on and of the pitch.<br/>
On this site, you can't do so much and so with a little effort, we would like you to rate our perfomance lately on a scale of one to five<br/>
One for poor<br/>
Two for fair<br/>
Three for average<br/>
Four for good<br/>
Five for excellent<br/><br/>

Feel free and enjoy! Thank you
</p>

<form method="post" action="/create_user">
	<select name="rating">
			<option>1 star (*)</option>
			<option>2 star (**)</option>
			<option>3 star (***)</option>
			<option>4 star (****)</option>
			<option>5 star (*****)</option>
	</select>
	<input type="checkbox" name="agreeterms" /> I agree
	<input type="submit" />
</form>

</body>

</html>
