<!DOCTYPE html>
<html>
<head>
<title>pager</title>
<link rel="stylesheet" type="text/css" href="../static/style.css"/>
</head>

<body>
<h1>Experience it!</h1>
<div class="container">
	<div class="curtain">
	
	</div>
	
	<div class="logger">
		<div class="formstyler">
			<form method="get" action="/index">
				<p>Username: </p><input type="text" name="username" placeholder="...hallel"><br/>
				<p>E-mail Address: </p><input type="text" name="username" placeholder="abc@xyz.com"><br/>
				<p>Password: </p><input type="password" name="username" placeholder="*******"><br/>
				<input type="submit" name="submit" value="sign in">
				<br/><a href="help.html">Read more?</a>
			</form>
		</div>
			
	</div>

	

</div>
</body>
</html>
